@import "../../../styles/variables.scss";

.rui-subtitle-text {
  font-family: "Nunito Sans", sans-serif;

  font-size: 20px;
  line-height: 27.28px;
  font-weight: 400;

  &.second {
    padding-top: 0;
  }
  &.color-1 {
    color: $text-color-1;
  }
  &.color-2 {
    color: $text-color-2;
  }
  &.color-3 {
    color: $text-color-3;
  }
  &.color-4 {
    color: $text-color-4;
  }
  &.color-5 {
    color: $text-color-5;
  }
  &.centered {
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }
}
