@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.bonus-draw {
  padding: 60px 0;

  @include phone {
    padding: 32px 0 55px;
  }
}
.bonus-draw__top {
  padding: 0 20px;

  h2 {
    @include phone {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
}
.bonus-draw__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 80px 0 40px;

  @include media-lg {
    flex-direction: column-reverse;
    padding: 32px 0 0;
  }
}
.bonus-draw__info {
  position: relative;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  row-gap: 20px;
  padding: 32px;
  border-radius: 40px;
  background-color: rgba(222, 233, 101, 0.75);
  z-index: 1;

  @media screen and (max-width: 1200px) {
    max-width: 600px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 500px;
  }
  @include media-lg {
    margin-top: -86px;
    max-width: calc(100% - 40px);
    padding: 126px 12px 40px;
    z-index: 0;
  }

  h3 {
    @include media-lg {
      font-size: 18px;
      line-height: 24px;
      max-width: 280px;
    }
  }

  button {
    padding: 12px 28px;
    font-size: 27px;
    line-height: 34px;
    font-weight: 900;
    text-align: center;
    color: $text-color-4;
    background-color: $text-color-2;
    border-radius: 60px;

    @include media-lg {
      display: none;
    }
  }
}
.bonus-draw__media {
  position: relative;
  flex-grow: 1;
  width: 100%;
  max-width: 846px;
  margin-left: -224px;

  @include media-lg {
    max-width: 100%;
    margin-left: 0;
    z-index: 1;
  }

  .bonus-draw__img,
  .bonus-draw__video {
    width: 100%;
    min-height: 600px;
    border-radius: 40px;
    object-fit: cover;

    @include media-lg {
      min-height: unset;
    }
  }
}

.bonus-draw__badge {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 184px;
  height: 184px;

  @include media-lg {
    top: 0;
    right: 0;
    width: 86px;
    height: 86px;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .bonus-draw__badge-price {
    position: absolute;
    font-family: "ABC Gravity", sans-serif;
    color: #043b3b;
    z-index: 10;
    top: 52px;
    right: 49px;
    display: block;
    font-size: 32px;
  
    @media screen and (max-width: 960px) {
      top: 24px;
      right: 22px;
      display: block;
      font-size: 16px;
    }
  }
}
