.vertical-timeline {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 66px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 575px) {
    padding: 0 20px;
  }

  & > .timeline-points {
    position: relative;
    // position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & > .timeline-point-section {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active {
        // margin-bottom: 20px;
        margin-bottom: 250px;
      }
      & > .timeline-text {
        display: flex;
        align-items: center;
        gap: 22px;
        flex-direction: row;
        .side-line {
          stroke: #fff;

          &.side-line-invisible {
            opacity: 0;
          }
        }

        &.active {
          .side-line {
            stroke: #dee965;
          }
          &.left {
            p {
              color: #dee965;

              text-align: right;
              font-family: 'ABC Gravity';
              font-size: 32px;
              font-style: normal;
              font-weight: 900;
              line-height: normal;
              text-transform: capitalize;
              @media screen and (max-width: 1080px) {
                width: 100%;
                text-align: center;
              }
              @media screen and (max-width: 768px) {
                font-size: 26px;
              }
              @media screen and (max-width: 560px) {
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.01em;
              }
            }
          }
          &.right {
            @media screen and (max-width: 560px) {
              margin-top: 0;
            }
            p {
              color: #dee965;
              font-family: 'Nunito Sans';
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              letter-spacing: 0.2px;
              @media screen and (max-width: 1080px) {
                width: 100%;
                text-align: center;
              }   
              @media screen and (max-width: 768px) {
                font-size: 18px;
                line-height: 24px;
              }
              @media screen and (max-width: 560px) {
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.01em;
              }
            }
          }
        }
        &.left {
          justify-content: flex-end;
          p {
            color: #fff;
            width: 470px;
            text-align: right;
            font-family: 'ABC Gravity';
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-transform: capitalize;
            @media screen and (max-width: 1080px) {
              width: 100%;
              text-align: center;
            }
            @media screen and (max-width: 768px) {
              font-size: 26px;
            }
            @media screen and (max-width: 560px) {
              font-size: 18px;
              line-height: 24px;
              letter-spacing: 0.01em;
            }
          }
          @media screen and (max-width: 1080px) {
            order: 2;
            background-color: #043b3b;
            justify-content: center;
          }
        }
        &.right {
          justify-content: flex-start;
          @media screen and (max-width: 560px) {
            margin-top: 0;
          }
          p {
            width: 470px;
            color: #fff;
            text-align: left;
            font-family: 'Nunito Sans';
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.2px;
            @media screen and (max-width: 1080px) {
              width: 100%;
              text-align: center;
              padding-bottom: 8px;
            }
            @media screen and (max-width: 768px) {
              font-size: 18px;
              line-height: 24px;
            }
            @media screen and (max-width: 560px) {
              font-size: 14px;
              line-height: 18px;
              letter-spacing: 0.01em;
            }
          }
          @media screen and (max-width: 1080px) {
            order: 3;
            background-color: #043b3b;
            justify-content: center;
          }
        }
      }
      & > .timeline-point {
        position: relative;
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        margin: 0 8px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        svg {
          width: 100%;
          height: 100%;
        }

        &.empty::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #fff;
          transform: translate(-50%, -50%);
        }
      }
      &:first-child {
        padding-top: 20px;
      }
      &:not(:last-child) {
        margin-bottom: 400px;
      }
      &:last-child {
        margin-top: 20px;
      }
      @media screen and (max-width: 1080px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:not(:last-child) {
          margin-bottom: 250px;
          &.active {
            margin-bottom: 250px;
            // margin-bottom: 20px;
          }
        }
        & > .timeline-point {
          order: 1;
          margin-bottom: 8px;
        }
        & > .timeline-text > .side-line {
          display: none;
        }

        & > .timeline-text > p {
          text-align: center;
          width: 100%;
        }
        & > .timeline-text.left {
          order: 2;
          background-color: #043b3b;
          justify-content: center;
          p {
            width: 100%;
            text-align: center;
          }
        }
        & > .timeline-text.right {
          order: 3;
          background-color: #043b3b;
          justify-content: center;
          p {
            width: 100%;
            text-align: center;
          }
        }
      }
      @media screen and (max-width: 560px) {
        &:not(:last-child) {
          margin-bottom: 100px;
          &.active {
            margin-bottom: 100px;
          }
        }
      }
    }
  }
  & > .svg-timeline {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    line {
      position: absolute;
    }
  }
  & > .svg-timeline-sticky {
    position: sticky;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    line {
      position: absolute;
    }
  }
  // .sticky-point {
  //   position: sticky;
  //   // margin-top: 3em;
  //   // margin-bottom: 8em;
  //   top: 150px;
  //   left: 50%;
  //   z-index: 2;
  //   transform: translateX(-50%);
  //   @media screen and (max-width: 1080px) {
  //     // display: none;
  //     top: 150px;
  //     width: 140px;
  //     height: 140px;
  //   }
  //   @media screen and (max-width: 560px) {
  //     top: 150px;
  //     margin-bottom: 12em;
  //   }
  // }
}
