.winner-card {
  position: relative;
  max-width: 434px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 40px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    border: 1px solid #043b3b;
    z-index: 1;
  }
  .winner-card-header {
    display: flex;
    padding: 20px 0px 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 40px 40px 0px 0px;
    background: #043b3b;
    p {
      color: #dee965;
      text-align: center;
      font-family: 'ABC Gravity';
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.48px;
    }
    @media screen and (max-width: 560px) {
      padding: 10px 0px 10px 0px;
      p {
        font-size: 16px;
      }
    }
  }
  .winner-card-body {
    .win-date {
      margin-top: 28px;
      color: #2e2e2e;
      text-align: center;
      font-family: 'Nunito Sans';
      font-size: 15px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.3px;
      @media screen and (max-width: 560px) {
        margin-top: 14px;
      }
    }
    .win-title {
      align-self: stretch;
      color: #2e2e2e;
      text-align: center;
      font-family: 'ABC Gravity';
      font-size: 27px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.54px;
      margin-bottom: 20px;
      @media screen and (max-width: 560px) {
        margin-bottom: 10px;
        font-size: 24px;
      }
    }
    .winner-card-image {
      height: 250px;
      width: 100%;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      position: relative;
      .winner-card-winner-name {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        padding: 12px 24px 4px 24px;
        align-items: center;
        border-radius: 20px 20px 0px 0px;
        background: #fff;
        max-width: 80%;
        width: max-content;
        text-align: center;

        p {
          color: #2e2e2e;
          text-align: center;
          font-family: 'ABC Gravity';
          font-size: 27px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          letter-spacing: 0.54px;
          @media screen and (max-width: 560px) {
            font-size: 18px;
          }
        }
      }
      @media screen and (max-width: 1420px) {
        height: 200px;
      }
      @media screen and (max-width: 876px) {
        height: 200px;
      }
    }
    .winner-card-description-section {
      height: 102px;
      overflow: hidden;

      @media screen and (max-width: 560px) {
        height: 110px;
      }
    }
    .winner-card-description {
      overflow: hidden;
      padding: 20px;
      color: #2e2e2e;
      align-self: stretch;
      font-family: 'Nunito Sans';
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      //
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @media screen and (max-width: 560px) {
        font-size: 16px;
        -webkit-line-clamp: 4;
      }
      p,
      span {
        overflow: hidden;
        color: #2e2e2e;
        align-self: stretch;
        font-family: 'Nunito Sans';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        //
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @media screen and (max-width: 560px) {
          font-size: 16px;
          -webkit-line-clamp: 4;
        }
      }
      & > * {
        overflow: hidden;
        color: #2e2e2e !important;
        align-self: stretch;
        font-family: 'Nunito Sans';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        //
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @media screen and (max-width: 560px) {
          font-size: 16px;
          -webkit-line-clamp: 4;
        }
      }
    }
  }
  .winner-card-footer-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .winner-card-footer {
      width: 100%;
      padding: 16px 0 8px 0;
      border-top: 1px solid rgba(4, 59, 59, 0.15);
      p {
        color: #2e2e2e;
        text-align: center;
        font-family: 'Nunito Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3px;
      }
    }
  }
  @media screen and (max-width: 1420px) {
    max-width: 360px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 434px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 380px;
  }
  @media screen and (max-width: 876px) {
    max-width: 434px;
  }
  @media screen and (max-width: 560px) {
    max-width: 90%;
  }
}
