.horizontal-timeline {
  width: 100%;
  color: #fff;
  font-family: "ABC Gravity", serif;
  margin: 0 auto;
  max-width: 1300px;

  .horizontal-timeline__inner {
    width: 100%;
    padding: 0 12px;
    display: flex;
    align-items: flex-end;
  }
  .horizontal-timeline-item {
    width: 33.333%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .horizontal-timeline-item__date {
    font-family: 'Nunito Sans', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    min-height: 72px;
    text-align: center;
    padding: 0 10px;

    @media screen and (max-width: 768px) {
      font-size: 10px;
      padding: 0 4px;
      min-height: 56px;
    }
  }
  .horizontal-timeline-item__icon {
    width: 50px;

    @media screen and (max-width: 768px) {
      width: 33px;
    }

    svg, img {
      width: 100%;
      height: auto;
    }
  }
  .horizontal-timeline-item__point {
    position: relative;
    width: 100%;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    span {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #043b3b;
      @media screen and (max-width: 768px) {
        width: 16px;
        height: 16px;
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 50%;
      height: 1px;
      background-color: #fff;
      transform: translateY(-50%);
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  .horizontal-timeline-item {
    &:first-child {
      .horizontal-timeline-item__point::before {
        display: none;
      }
    }
    &:last-child {
      .horizontal-timeline-item__point::after {
        display: none;
      }
    }
  }
  .horizontal-timeline-item__info {
    font-family: 'ABC Gravity', serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 0 4px;
    margin-bottom: 6px;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }

    span {
      color: #e2bcc0;
    }
  }
}
