@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.faq-block {
  padding: 80px 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .faq-wrapper {
    width: 100%;
    max-width: 900px;
    border-radius: 40px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    background-color: #043b3b;
    padding: 20px 43px 30px;
    @media screen and (max-width: 960px) {
      border-radius: 0;
      background-color: transparent;
    }
    .faq-inner {
      .rui-primary-title {
        color: #fff;
      }
      @media screen and (max-width: 960px) {
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 0px;
        padding: 32px 20px;
        .rui-primary-title {
          color: $text-color-5;
        }
      }
      @media screen and (max-width: 560px) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .other-container {
      @media screen and (max-width: 960px) {
        width: 100%;
      }
    }
    @media screen and (max-width: 1178px) {
      max-width: 700px;
    }
    @media screen and (max-width: 960px) {
      max-width: 100%;
      padding: 0;
    }
  }
  .faq-container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (max-width: 960px) {
    padding: 0px;
  }
  .wrapper .question-container {
    color: $text-color-1;
    
    @include media-lg {
      color: $text-color-5;
      list-style: initial;
    }
    @include phone {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .faq-list.dark > li {
    list-style: initial;
    color: $text-color-1;
    margin-left: 32px;
    @include media-lg {
      list-style: initial;
      color: $text-color-5;
    }
  }
  .faq-list.dark > li > a {
    text-decoration: underline;
    color: $text-color-1;
    @include media-lg {
      color: $text-color-5;
    }
  }

  .question-block {
    margin-top: 80px;
    margin-bottom: -40px;
    width: 420px;
    height: 520px;
    position: relative;
    @media screen and (max-width: 960px) {
      margin-bottom: 0px;
    }
    .left-side-image {
      position: absolute;
      top: -40px;
      left: -840px;
      overflow: hidden;
      width: 780px;
      height: 520px;
      border-radius: 40px;
      @media screen and (max-width: 960px) {
        top: 0;
      }
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      @media screen and (max-width: 1366px) {
        left: -700px;
        width: 680px;
        height: 420px;
      }
      @media screen and (max-width: 1228px) {
        left: -530px;
        width: 520px;
        height: 360px;
      }
      @media screen and (max-width: 1053px) {
        left: -440px;
        width: 430px;
        height: 340px;
      }
      @media screen and (max-width: 960px) {
        position: relative;
        top: initial;
        left: initial;
        width: 100%;
        height: 100%;
        border-radius: 0;
        & > img {
          border-radius: 0;
        }
      }
      @media screen and (max-width: 560px) {
        border-radius: 0px;
        & > img {
          border-radius: 0px;
        }
      }
    }

    .left-side-slider {
      display: none;
      border-radius: 0 0 40px 40px;
      @media screen and (max-width: 960px) {
        display: block;
      }
      .swiper-slide {
        display: flex;
      }
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4 / 3;
  
      }
    }
    .right-side {
      width: 100%;
      max-width: 430px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      & > .rui-primary-title {
        @media screen and (max-width: 560px) {
          margin-bottom: 0;
        }
      }

      & > .how-it-works-button {
        color: #dee965;
        display: flex;
        align-items: center;
        text-align: center;
        /* Body/Black */
        // font-family: Nunito Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        svg {
          margin-left: 11px;
        }
        @media screen and (max-width: 960px) {
          display: none;
        }
      }
      & > p.info-text {
        color: #fff;
        text-align: center;
        /* Body/Small */
        // font-family: Nunito Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3px;
      }
      & > .chat-details-block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        .images-stack {
          display: flex;
          img {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            // background: lightgray 0px 0px / 100% 100% no-repeat;
            z-index: 1;
            border: 1px solid white;
            flex: 0 0 40px;
            &:nth-child(2) {
              z-index: 2;
              margin-left: -10px;
            }
            &:nth-child(3) {
              z-index: 3;
              margin-left: -10px;
            }
            &:nth-child(4) {
              z-index: 4;
              margin-left: -10px;
            }
          }
          @media screen and (max-width: 560px) {
            width: auto;
            img {
              flex: 0 0 30px;
              width: 30px;
              height: 30px;
            }
          }
          @media screen and (max-width: 450px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 90px;
          }
        }
        & > .green-point {
          width: 6px;
          height: 6px;
          flex: 0 0 6px;
          border-radius: 50%;
          background-color: #04da8d;
        }
        & > p {
          color: #fff;
          /* Body/Small */
          // font-family: Nunito Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.3px;
        }
      }
      & > .email-us-button {
        margin: 0 auto;
        display: flex;
        padding: 12px 28px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 60px;
        align-self: stretch;
        border-radius: 60px;
        background: #dee965;
        //
        color: #043b3b;
        text-align: center;
        /* Headings/H5 */
        font-family: "ABC Gravity", sans-serif;
        font-size: 27px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0.54px;
        @media screen and (max-width: 960px) {
          font-size: 32px;
        }
        @media screen and (max-width: 560px) {
          font-size: 16px;
          padding: 12px 16px;
          height: auto;
          width: 90%;
        }
      }
      & > .email-info {
        color: #dee965;

        text-align: center;
        /* Body/Black */
        // font-family: Nunito Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        @media screen and (max-width: 960px) {
          font-size: 15px;
        }
        @media screen and (max-width: 560px) {
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.02em;
        }
      }
      @media screen and (max-width: 960px) {
        padding: 40px 5px 32px 5px;
        background-color: transparent;
        max-width: initial;
        margin-left: auto;
        margin-right: auto;
        background-color: #043b3b;
        h3 {
          color: #dee965;
        }
      }
    }
    @media screen and (max-width: 960px) {
      margin-top: 0px;
      width: 100%;
      height: auto;
    }

    .email-us-link {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      color: $green-bg-2;
      font-family: inherit;
      font-size: 20px;
      font-weight: normal;
      gap: 10px;
      transition: 0.2s;

      @media screen and (max-width: 450px) {
      flex-direction: column;
    }
  
      &:hover {
        .email-us-button {
          background: $black-bg;
          color: $green-bg-2;
          box-shadow: 0px 0px 0px 2px $green-bg-2;
        }
      }
    }
  
    .email-us-button {
      height: 60px;
      border-radius: 60px;
      background: $green-bg-2;
      color: $black-bg;
      text-align: center;
      font-family: "ABC Gravity", sans-serif;
      font-size: 27px;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      letter-spacing: 0.54px;
      padding: 12px 28px;
      transition: 0.2s;
    }
  
    .whatsapp-link {
    display: flex;
    color: $green-bg-2;
    font-family: inherit;
    font-size: 20px;
    font-weight: normal;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 450px) {
      flex-direction: column;
    }

    &:hover {
      .whatsapp-link__icon {
        background: $black-bg;
        color: $green-bg-2;
        box-shadow: 0px 0px 0px 2px $green-bg-2;
        svg {
          path {
            fill: $green-bg-2;
          }
        }
      }
    }

    .whatsapp-link__icon {
      width: auto;
      height: 60px;
      flex: 0 0 50px;
      border-radius: 60px;
      background: $green-bg-2;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      transition: 0.2s;
      font-family: 'ABC Gravity', sans-serif;
      color: $black-bg;
      font-size: 25px;
      font-style: normal;
      font-weight: normal;
      line-height: 40px;
      letter-spacing: 0.54px;
      padding: 13px 16px 11px;

      svg {
        width: 45px;
        height: 45px;
        path {
          fill: $black-bg;
          transition: 0.2s;
        }
      }
    }
  }
  }
}
