.sticky-point {
  position: absolute;
  top: -20px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
@media screen and (max-width: 1080px) {
  .sticky-point {
    top: -70px;
  }
}
@media screen and (max-width: 560px) {
  .sticky-point {
    top: -46px;
  }
}
.rotation-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 206.5px;
  height: 206.5px;
  background-color: #fff;
  border-radius: 50%;

  @media screen and (max-width: 1080px) {
    width: 140px;
    height: 140px;
  }
  @media screen and (max-width: 560px) {
    width: 110px;
    height: 110px;
  }

  .rotation-box__text {
    position: absolute;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.55px;
    animation: spin 15s linear infinite;
  }

  .rotation-box__image {
    .empty-image {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      object-fit: cover;
  
      @media screen and (max-width: 1080px) {
        width: 76px;
        height: 76px;
      }
      @media screen and (max-width: 560px) {
        width: 56px;
        height: 56px;
      }
    }

    img {
      width: 168px;
      height: 168px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      object-fit: cover;
  
      @media screen and (max-width: 1080px) {
        width: 112px;
        height: 112px;
      }
      @media screen and (max-width: 560px) {
        width: 86px;
        height: 86px;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
