* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1258px) {
    padding: 0 1rem;
  }
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-family: 'Nunito Sans';
}

