/* Anton */
@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton/Anton-Regular.eot');
    src: url('../fonts/Anton/Anton-Regular.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/Anton/Anton-Regular.woff2') format('woff2'),
      url('../fonts/Anton/Anton-Regular.woff') format('woff'),
      url('../fonts/Anton/Anton-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }
  
  /* ABC Gravity */
  @font-face {
    font-family: 'ABC Gravity';
    src: url('../fonts/Gravity/ABCGravity-Normal.otf') format("opentype"),
      url('../fonts/Gravity/ABCGravity-Normal.woff') format('woff'),
      url('../fonts/Gravity/ABCGravity-Normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  
  /* Nunito Sans */
  @font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans/NunitoSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans/NunitoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans/NunitoSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans/NunitoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans/NunitoSans-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
  }