//COLORS
//Accent
$accent-blue: #1448fd;
$accent-black: #2c3a4b;
$apricot: #043b3b;
$apple-core: #dcc7aa;
$blueberry: #6a7b8d;
$dark-brown: #8c7a66;
$redesign-cta: #043b3b;
// $redesign-cta: #f48202;

$white: #eee;
$black: #000;

// $black-bg: #000d1f;
$black-bg: #043b3b;
$green-bg-1: #043b3b;
$green-bg-2: #dee965;
$dark-green-text-color: #043b3b;
$green-text-color: #dee965;

// sections
$section-bg-1: #f8f4f0;
$section-bg-2: #043b3b;
$section-bg-3: #ffffff;
$section-bg-4: #dee965;

// text
$text-color-1: #ffffff;
$text-color-2: #043b3b;
$text-color-3: #e2bcc0;
$text-color-4: #dee965;
$text-color-5: #2e2e2e;

$dark-grey: #394452;
$grey-disabled: #c4c4c4;

//FONTS
$font-size: 16px;

$font-primary: 'Nunito Sans';
$font-secondary: 'ABC Gravity';
