.faq-questions-container {
  width: 100%;
}
.wrapper {
  border-bottom: 1px solid #167878;
  overflow: hidden;
}

.wrapper--special {
  background: #ff6f61;
}

.wrapper .question-container {
  width: 100%;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: "ABC Gravity";
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.44px;
  @media screen and (max-width: 560px) {
    padding: 18px 12px 20px;
  }
  &.color-1 {
    color: #2e2e2e;
  }
  .question-content {
    display: flex;
    align-items: center;
    text-align: left;
    @media screen and (max-width: 560px) {
      font-size: 16px;
    }
  }
  .question-content.color-1 {
    text-align: left;
  }
  .question-content-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    svg {
      width: 100%;
      height: 100%;

      path {
        fill: currentColor;
        stroke: currentColor;
      }
    }
  }
  .question-content-sign {
    font-size: 28px;
  }
  @media screen and (max-width: 960px) {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.4px;
  }
}

.question-container.active {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
}
.wrapper .question-container:hover {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
}
.wrapper .arrow {
  font-size: 2rem;
  transition: 0.2s ease-in-out;
}
.arrow.active {
  rotate: 180deg;
}
.wrapper .answer-container {
  padding: 0 1rem;
  transition: height 0.3s ease-in-out;
}
.wrapper .answer-content {
  padding: 0 0 28px 0;
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  &.color-1 {
    color: #2e2e2e;
  }

  .faq-list li {
    @media screen and (max-width: 560px) {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
    }
  }
}
