.image-zoom-wrapper {
  width: 100%;
  height: 100%;
}
.image-zoom-controls {
  position: absolute;
  top: 80px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #2e2e2e;
  border-radius: 8px;
  padding: 5px 2px;
  button {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  gap: 10px;
  z-index: 2;
  @media screen and (max-width: 560px) {
    top: 60px;
  }
}
.custom-content-class {
  padding: 60px 10px;
}
