@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.simple-gallery {
  h2 {
    text-align: center;
    margin-bottom: 40px;

    @include phone {
      margin-bottom: 20px;
    }
  }

  .simple-gallery__info {
    position: absolute;
    left: 50%;
    bottom: 68px;
    width: 100%;
    max-width: 720px;
    transform: translateX(-50%);
    color: $text-color-1;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    @include media-lg {
      position: static;
      max-width: 100%;
      padding: 28px 20px 32px;
      transform: none;
      color: $text-color-5;
      background-color: $section-bg-1;
    }

    h3 {
      font-weight: 900;
      margin-bottom: 16px;
      @include phone {
        font-size: 18px;
        line-height: 24px;
      }
    }
    p {
      @include phone {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .swiper-container {
    .swiper-button-prev,
    .swiper-button-next {
      @include media-lg {
        top: calc(50% - 10vh);
      }
    }
    .gallery-image {
      position: relative;
      min-height: 285px;
      display: flex;
      width: 100%;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88) 88%);
        opacity: 0.5;
      }

      @include media-lg {
        max-height: unset;
      }

      img {
        width: 100%;
        max-height: 740px;
        min-height: 285px;
        object-fit: cover;
      }
    }
    .swiper-pagination-bullets {
      @include media-lg {
        display: none !important;
      }
    }
  }
}
