@import "../../../styles/mixins.scss";

.video-block {
  position: relative;
  width: 100%;
  height: 100%;
}
.video-block-container {
  width: 100%;
  height: 100%;
  & > video {
    width: 100%;
    height: 100%;
    min-height: 0;
    flex-grow: 1;
    object-fit: cover;
    @include phone {
      height: 100%;
      min-height: 375px;
    }
  }
  @include phone {
    height: auto;
  }
}
.video-block-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    display: block;
  }
}
.video-buttons-group {
  position: absolute;
  top: 30px;
  right: 5px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}
.video-block-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 28px;
  padding-bottom: 24px;

  @include phone {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
}
.video-block-buttons__row {
  display: flex;
}
.video-block-buttons__text {
  width: 100%;
  font-size: 18px;
  color: rgba(#fff, 0.5);
  text-align: center;
}
.video-block-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 960px) {
    justify-content: center;
    height: 100%;
  }

  .video-block-heading__tags {
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    @media screen and (max-width: 960px) {
      display: none;
    }
  }

  .video-block-buttons__enter-now {
    margin-bottom: 30px;
    @media screen and (max-width: 960px) {
      display: none;
    }
  }

  .video-block-heading__partners-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;

    @media screen and (max-width: 960px) {
      position: absolute;
      bottom: 100px;
    }

    @media screen and (max-width: 760px) {
      position: absolute;
      bottom: 70px;
    }

    @media screen and (max-width: 560px) {
      font-size: 14px;
    }

    @media screen and (max-width: 450px) {
      font-size: 12px;
      gap: 10px;
    }

    p:first-child {
      flex: 1 0 100%;
      text-align: center;
      @media screen and (max-width: 960px) {
        flex: 0 0 auto;
      }
    }
  }
}