@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.uikit-learn-more {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 900;
  column-gap: 10px;
  color: $text-color-2;
  font-family: 'Nunito Sans', serif;

  @include media-lg {
    font-size: 16px;
    line-height: 20px;
  }

  svg {
    path {
      stroke: currentColor;
    }
  }
}