@import '../../../styles/variables.scss';

.section-wrapper {
  background-color: #fff;
  &.bg-1 {
    background-color: $section-bg-1;
  }
  &.bg-2 {
    background-color: $section-bg-2;
  }
  &.bg-3 {
    background-color: $section-bg-3;
  }
  &.bg-4 {
    background-color: $section-bg-4;
  }
  &.extra-mb-50 {
    padding-bottom: 60px;
    @media screen and (max-width: 960px) {
      padding-bottom: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    &.mobile-bg-1 {
      background-color: $section-bg-1;
    }
    &.mobile-bg-2 {
      background-color: $section-bg-2;
    }
    &.mobile-bg-3 {
      background-color: $section-bg-3;
    }
    &.mobile-bg-4 {
      background-color: $section-bg-4;
    }
  }
}
