.trustpilot-quote {
  padding: 15px;
  border: 1px solid #dee965;
  border-radius: 20px;
  background: #00000066;
  max-width: 533px;

  @media (max-width: 768px) {
    max-width: 325px;
    padding: 10px;
  }

  .trustpilot-quote__content {
    display: flex;
    gap: 18px;
    color: #ffffff;
    position: relative;
  }

  .trustpilot-quote__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px;

    @media (max-width: 768px) {
      min-width: 45px;
    }
  }

  .trustpilot-quote__logo {
    width: 60px;
    height: 60px;
    background: #c8f9e5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #151515;
    font-weight: 800;
    font-size: 24px;
    margin: 20px 0px 35px;

    @media (max-width: 768px) {
      width: 45px;
      height: 45px;
      font-size: 18px;
      margin: 0px 0px 6px;
    }
  }

  .trustpilot-quote__name {
    font-size: 14px;
    font-weight: 900;
    white-space: nowrap;

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }

  .trustpilot-quote__text {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 21px;

    @media (max-width: 768px) {
      font-size: 10px;
      line-height: 1.1;
    }
  }

  .trustpilot-quote__icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 132px;
    height: 15px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
