@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.testimonials-block {
  position: relative;
  width: 100%;
  padding: 60px 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;

  @media screen and (max-width: 1278px) {
    width: 100%;
    padding: 60px 40px;
  }
  @include media-lg {
    flex-direction: column;
  }
  @include tablet-portrait {
    height: auto;
    padding: 60px 20px;
    .testimonials-top-right-image,
    .testimonials-bottom-left-image {
      display: none;
    }
  }
  @include phone {
    padding: 32px 20px;
  }

  .testimonials-inner {
    position: relative;
    width: 100%;
    max-width: 1106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    & > button {
      width: max-content;
      display: flex;
      height: 75px;
      padding: 20px 28px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 50px;
      border: 2px solid #043b3b;
      //
      color: #043b3b;

      font-family: "ABC Gravity", sans-serif;
      font-size: 27px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.54px;
      @media screen and (max-width: 560px) {
        font-size: 16px;
        line-height: 20px;
        padding: 13px 16px;
        width: 100%;
        height: auto;
      }
    }
    .mobile-cards-slider {
      width: 100%;
      height: auto;
      margin-bottom: 40px;
    }
  }

  .rui-primary-title {
    max-width: 664px;
  }

  .testimonials-description {
    max-width: 664px;
    color: $text-color-5;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-top: 28px;
    margin-bottom: 28px;
    @media screen and (max-width: 560px) {
      font-size: 16px;
      line-height: 20px;
      margin-top: 0;
    }
  }

  .testimonials-top-right-image {
    position: absolute;
    top: 0;
    right: 130px;
    max-height: 250px;
    @media screen and (max-width: 1700px) {
      right: 40px;
    }
    @media screen and (max-width: 1600px) {
      max-height: 180px;
    }
    @media screen and (max-width: 1278px) {
      right: 80px;
      height: 250px;
    }
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }
  .testimonials-bottom-left-image {
    position: absolute;
    bottom: 0;
    left: 130px;
    max-height: 250px;
    @media screen and (max-width: 1700px) {
      left: 40px;
    }
    @media screen and (max-width: 1600px) {
      max-height: 180px;
    }
    @media screen and (max-width: 1278px) {
      left: 80px;
      height: 250px;
    }
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  .testimonials-btn {
    width: max-content;
    display: flex;
    height: 75px;
    padding: 20px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 2px solid $text-color-2;
    color: $text-color-2;

    font-family: "ABC Gravity", sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.54px;
    @media screen and (max-width: 560px) {
      font-size: 16px;
      line-height: 20px;
      padding: 13px 16px;
      width: 100%;
      height: auto;
    }
  }
  
  .testimonials-slider {
    padding-bottom: 68px;
  
    .swiper-pagination {
      bottom: 32px;
    }
  }
  .testimonials-winner-card {
    display: flex;
    justify-content: center;
  }
}

